body{
    background-color: #e8e8e8;
    color: #2d49a6;
}
h1{
    color: #38454d;
    text-align: center;
    font-size: 35px;
}
p{
    text-align: justify;
    font-size: 15px;
}
/*Editar links*/
/*Para editar apenas o link utiliza-se apenas o a, neste caso vamos usar o a:link*/
/*Editar links não visitados*/
a:link{
    color: blue;
    text-decoration: none;/* tirar o sublinhado do link*/
}
/*Links visitados*/
a:visited{
    color: white;
}
/*Mouse sobre o link*/
a:hover{
    color: #f2cb00;
}
/*Quando o clik for dado sobre o link*/
a:active{
    color: white;

}
ul{
    background-color: darkgreen;
    padding: 5px 0px 5px 40px; /*margem superior, direita, inferior e esquerda*/
}
/*personalizar listas*/
/*usando ul li, apenas as li que estão dentro de uma ul serão alteradas*/
ul li{
    display: inline;
    color:white;
    text-shadow: #f2cb00;
    margin: 5px; /*colocando 2 parâmetros, os outros 2 parâmetros serão repetidos*/
    padding: 10px;
}